# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
*.xcuserstate
*.xcuserdatad/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Config files with sensitive data
SpotifyClone/Config.plist

# CocoaPods
Pods/
*.podspec

# Swift Package Manager
.build/
.swiftpm/

# Build generated
build/
DerivedData/

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

